*{
  margin: 0;
  box-sizing: border-box;
}

@font-face
{
  font-family: Agency;
  src: url(../assets/fonts/Agency.ttf);
}

a
{
  all: unset;
}

.nexusTag
{
  font-family: 'Agency';
  font-size: 24px;
  position: absolute;
  right: 30px;
  bottom: 30px;
}